<!-- Mobile Header Menu -->
<div class="mobile-header-menu">
  <div class="mobile-header-menu-content">
    <button class="mobile-menu-item theme-toggle" title="테마 변경">
      <i class="ph ph-moon theme-icon-dark"></i>
      <i class="ph ph-sun theme-icon-light"></i>
      <span class="mobile-menu-label">테마</span>
    </button>
    <!-- <a href="{{ url_for('homes.notice_list') }}" class="mobile-menu-item">
      <i class="bi bi-bell"></i>
      <span class="badge">0</span>
      <span class="mobile-menu-label">알림</span>
    </a> -->
    <a href="{{ url_for('accounts.user_profile') }}" class="mobile-menu-item">
      <i class="bi bi-person"></i>
      <span class="mobile-menu-label">프로필</span>
    </a>
    <a href="{{ url_for('accounts.logout') }}" class="mobile-menu-item mobile-menu-item-danger">
      <i class="bi bi-box-arrow-right"></i>
      <span class="mobile-menu-label">로그아웃</span>
    </a>
  </div>
</div>
